@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario: rgba(255, 255, 255, 1);
    --color-secundario: rgba(29, 30, 28, 1);
    --color-verde: rgb(211, 249, 133);
    --color-gris: rgba(241, 241, 241, 1);
    --color-celeste: rgba(166, 232, 246, 1);
    --color-rosado: rgba(252, 190, 220, 1);
    --color-anarajado: rgba(251, 200, 153, 1);

    --fuente-principal: 'Montserrat', sans-serif;
    --fuente-secundaria: "Boldonse", system-ui;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    text-decoration: none !important;
    list-style: none;
    outline: none !important;
}

::selection {
    color: var(--color-secundario);
    background-color: var(--color-verde);
}

/* html {
    scroll-behavior: smooth;
} */

body{
    max-width: 1440px;
    margin: 0 auto;

    font-family: var(--fuente-principal);
}
img{
    max-width: 100%;
    vertical-align: middle;
    border-radius: 25px;
}




.btn{
    border-radius: 25px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.btn-dark{
    --bs-btn-hover-color: #212529;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #212529;
    --bs-btn-focus-shadow-rgb: 66, 70, 73;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4d5154;
    --bs-btn-active-border-color: #373b3e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-outline-dark{
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4d5154;
    --bs-btn-active-border-color: #373b3e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}


/*HERO*/
.hero-titulo, .titulo{
    line-height: 2;
    font-family: var(--fuente-secundaria);
}
.resaltar-texto{
    background-image: url(../assets/vector1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/*MAIN*/
.subtitulo{
    text-transform: uppercase;
}
/* .titulo{
    font-family: var(--fuente-secundaria);
    line-height: 2;
} */


.carrusel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 2rem;

    justify-content: center;
    align-items: center;
}
.carrusel-item{
    flex-shrink: 0;
    scroll-snap-align: center;
    width: 150px;
}


.titulo-img{
    /* max-height: 2rem; */
    height: 1.5em;
    width: auto;
}


iframe{
    max-width: 100%;
    width: 90%;
    height: 580px;
    border-radius: 25px;
}



/*CARRUSEL*/
.slider-wrapper .col {
  flex-shrink: 0;
}

.slider {
  scroll-behavior: smooth;
}

/*STATISTICS*/
.estadisticas-contenido{
    width: calc(50% - 3rem);
}
.estadisticas-datos{
    font-size: 3rem;
    position: relative;
    z-index: 1;
}
.estadisticas-datos::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    z-index: -1;
}

.estadisticas-contenido:first-child .estadisticas-datos::before{
    background-color: var(--color-verde);
}
.estadisticas-contenido:nth-child(2) .estadisticas-datos::before{
    background-color: var(--color-celeste);
}
.estadisticas-contenido:nth-child(3) .estadisticas-datos::before{
    background-color: var(--color-rosado);
}
.estadisticas-contenido:last-child .estadisticas-datos::before{
    background-color: var(--color-anarajado);
}


/*TESTIMONIAL*/
.testimonial:first-child{
    background-color: var(--color-verde);
}
.testimonial:nth-child(2){
    background-color: var(--color-gris);
}
.testimonial:nth-child(3){
    background-color: var(--color-celeste);
}
.testimonial:nth-child(4){
    background-color: var(--color-rosado);
}
.testimonial:last-child{
    background-color: var(--color-anarajado);
}



/*ACORDEON*/
.accordion-item{
    border: none;
    border-bottom: 2px solid var(--color-secundario);
    margin-bottom: 2rem;
}
.accordion-button:not(.collapsed) {
    color: var(--color-secundario);
    background-color: transparent;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion-button:focus, .footer-container .form-control:focus{
    border-color: none;
    box-shadow: none;
}





/*BLOG*/
.card-img-top{
    height: 250px;
    width:100%;
    object-fit: cover;
    object-position: center;
}
.card .card-link{
    color: var(--color-secundario);
}
.etiqueta{
    padding: 5px;
    border-radius: 10px;
}
.etiqueta-1{
    background-color: var(--color-celeste);
}
.etiqueta-2{
    background-color: var(--color-rosado);
}
.etiqueta-3{
    background-color: var(--color-verde);
}
.etiqueta-4{
    background-color: var(--color-anarajado);
}



/*FOOTER*/
.footer-container{
    background-color: var(--color-secundario);
    color: var(--color-primario);
    border-radius: 25px;

}

.footer-container .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-primario);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    border-bottom: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 0;
}
.footer-container  input::placeholder{
    color: var(--color-primario);
}





@media (max-width: 992px){
    .offcanvas-body .nav-item .nav-link{
        font-size: 3rem;
        font-weight: 600;
        color: var(--color-primario);
    }

    .logIn{
        --bs-btn-color: #fff;
        --bs-btn-bg: #212529;
        --bs-btn-border-color: #fff;
    }
    .signUp{
        --bs-btn-bg: #fff;
        --bs-btn-color: #212529;
    }
}