@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario: rgba(255, 255, 255, 1);
    --color-secundario: rgba(29, 30, 28, 1);
    --color-verde: rgba(211, 249, 133, 1);
    --color-gris: rgba(241, 241, 241, 1);
    --color-celeste: rgba(166, 232, 246, 1);
    --color-rosado: rgba(252, 190, 220, 1);
    --color-anarajado: rgba(251, 200, 153, 1);

    --fuente-principal: 'Montserrat', sans-serif;
    --fuente-secundaria: "Boldonse", system-ui;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    text-decoration: none !important;
    list-style: none;
    outline: none !important;
}
::selection {
    color: var(--color-secundario);
    background-color: var(--color-verde);
}

body{
    max-width: 1440px;
    margin: 0 auto;
    
    color: var(--color-secundario);
    font-family: var(--fuente-principal);
}

img{
    max-width: 100%;
    border-radius: 3rem;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
    padding: 10% 5%;
    /* border: 2px solid red; */
}


/*HEADER*/
.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
}
.header__menu{
    display: flex;
    align-items: center;
    gap: 3rem;
}
.header__menu__link{
    color: var(--color-secundario);
    border-bottom: 2px solid var(--color-primario);
}
.header__menu__link:hover{
    border-bottom: 2px solid var(--color-secundario);
}

/*MENU HAMBURGUESA*/
.menu__hamburguesa, .menu__hamburguesa__boton{
    display: none;
}

/*MAIN*/
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4em;
    padding: 10% 5%;
    border: 2px solid red;
}
.container__contenido{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 3rem;
    width: 50%;
}
.container__texto{
    color: var(--color-secundario);
}
.container__imagen{
    max-width: 50%;
    border-radius: 3rem;
}
.container__contenido__titulo{
    font-family: var(--fuente-secundaria);
    color: var(--color-secundario);
    font-size: 3rem;
}
.texto__resaltar{
    background-image: url('../assets/Vector 1.svg');
    background-size: contain;
    /* background-size: 90%;  */
    background-position: center;
    background-repeat: no-repeat;
}
.container__contenido__link{
    font-size: .85rem;
    font-weight: 600;
    padding: .75rem 1.5rem;
    border-radius: 2.5rem;
    border: 2px solid var(--color-secundario);
    color: var(--color-primario);
    background-color: var(--color-secundario);
    cursor: pointer;
}
.container__contenido__link:hover{
    color: var(--color-secundario);
    background-color: var(--color-primario);
}

/*COMPANIAS*/
.companies__contenido{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.companies__titulo{
    text-transform: uppercase;
    color: var(--color-secundario);
}

/*FEATURES*/
.container__contenido__subtitulo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    max-width: 75%;
    border: 2px solid red;
}
.container__subtitulo{
    /* font-size: 3rem; */
    font-size: 2rem;
    font-weight: 300;
    font-family: var(--fuente-secundaria);
    color: var(--color-secundario);
}
.features__contenedor, .estadistica__contenedor{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
}
.features__contenido{
    width: calc(33.33% - 3rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2.5rem;
    padding: 2%;
}

/*VIRTUAL TOUR*/
.virtual{
    align-items: center;
}

/*ESTADISTICAS*/
.estadistica__contenido{
    width: calc(50% - 3rem);
}
.estadistica__contenido__porcentaje{
    font-size: 3rem;
    position: relative;
    z-index: 1;
}
.estadistica__contenido__porcentaje::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    z-index: -1;
}
.estadistica__contenido:first-child .estadistica__contenido__porcentaje::before{
    background-color: var(--color-verde);
}
.estadistica__contenido:nth-child(2) .estadistica__contenido__porcentaje::before{
    background-color: var(--color-celeste);
}
.estadistica__contenido:nth-child(3) .estadistica__contenido__porcentaje::before{
    background-color: var(--color-rosado);
}
.estadistica__contenido:last-child .estadistica__contenido__porcentaje::before{
    background-color: var(--color-anarajado);
}


/*TESTIMONIOS*/
.testimonios__contenedor, .blog__contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}
.testimonio__contenido{
    width: calc(33.33% - 3rem);
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    gap: 1.5rem;
    border-radius: 1.5rem;
    padding: 2%;
}
.testimonio__contenido:first-child{
    background-color: var(--color-verde);
}
.testimonio__contenido:nth-child(2){
    background-color: var(--color-gris);
}
.testimonio__contenido:nth-child(3){
    background-color: var(--color-celeste);
}
.testimonio__contenido:nth-child(4){
    background-color: var(--color-rosado);
}
.testimonio__contenido:last-child{
    background-color: var(--color-anarajado);
}


/*FAQ*/
.faq{
    display: flex;
    align-items: flex-start;
}
.preguntas__frecuentes__contenedor{
    width: 50%;
}
.preguntas__frecuentes{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3rem;
    padding: 2rem 0;
    border-bottom: 2px solid var(--color-secundario);
}
.preguntas__frecuentes__contenido{
    text-align: left;
    width: 80%;
}
.preguntas__frecuentes__titulo{
    color: var(--color-secundario);
    padding-bottom: 1.5rem;
}
#preguntas__frecuentes__texto{
    display: none;
}

.preguntas__frecuentes__boton{
    border: none;
    background-color: transparent;
    max-width: 24px;
    width: 24px;
    
}
.preguntas__frecuentes__imagen{
    /* aspect-ratio: 4/4; */
    object-fit: cover;
}


/*SUSCRIPCION*/
.suscripcion .subtitulo__imagen{
    max-width: 15%;
}
.suscripcion .container__texto, .virtual .container__texto, .blog .container__texto{
    width: 75%;
    text-align: center;
}

/*BLOG*/
.blog .subtitulo__imagen{
    max-width: 20%;
}
.blog__contenido{
    width: calc(33.3% - 3rem);
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    gap: 1.5rem;
}
.blog__contenido__imagen{
    border-radius: 1.5rem;
    aspect-ratio: 4/3;
    object-fit: cover;
}
.blog__contenido__info{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    color: var(--color-secundario);
    font-size: .8rem;
    
}
.blog__contenido__info__etiqueta{
    background-color: var(--color-celeste);
    font-weight: 600;
    padding: 2% 5%;
    border-radius: .5rem;
}
.etiqueta-1{
    background-color: var(--color-celeste);
}
.etiqueta-2{
    background-color: var(--color-rosado);
}
.etiqueta-3{
    background-color: var(--color-verde);
}
.etiqueta-4{
    background-color: var(--color-anarajado);
}
.blog__contenido__titulo{
    font-family: var(--fuente-secundaria);
    font-size: 1rem;
    font-weight: 300;
}
.blog__contenido__link{
    color: var(--color-secundario);
}
.blog__link__imagen{
    vertical-align: middle;
}
#blog-contenido{
    display: none;
}

/*FOOTER*/
.footer__contenedor{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3rem;
    padding: 3rem;
    width: 100%;
    border-radius: 3rem;
    font-size: .85rem;
    color: var(--color-gris);
    background-color: var(--color-secundario);
}
.footer__contenido, .footer__lista{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
/* .footer__contenido:first-child{
    width: 50%;
} */
.footer__contenido:not(:first-child){
    width: 25%;
}
.footer__logo{
    font-size: 2rem;
}
.footer__suscribir{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
}
.footer__suscribir__input{
    font-family: var(--fuente-principal);
    padding: 1rem;
    width: 80%;
    background-color: transparent;
    border: none;
    color: var(--color-verde);
    border-bottom: 1px solid var(--color-gris);
}
.footer__suscribir__boton{
    font-size: .85rem;
    font-weight: 600;
    padding: .75rem 1.5rem;
    border-radius: 2.5rem;
    border: 2px solid var(--color-primario);
    color: var(--color-secundario);
    background-color: var(--color-primario);
    cursor: pointer;
}
.footer__suscribir__boton:hover{
    color: var(--color-primario);
    background-color: var(--color-secundario);
}
.footer__titulo{
    text-wrap: nowrap;
    text-transform: uppercase;
}
.footer__lista__items{
    color: var(--color-gris);
}

.creditos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.footer__legal{
    display: flex;
    gap: 2rem;
}
.footer__legal__Link{
    color: var(--color-secundario);
    border-bottom: 1px solid var(--color-secundario);
}

